[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
bs4 = "*"
requests = "*"
selenium = "*"
firebase-admin = "*"
pandas = "*"
numpy = "*"

[requires]
python_version = "3.7"
